.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(47, 47, 47);
}

.flashcard {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.fileInput {
    margin-bottom: 20px;
}

.video {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.captureBtn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.captureBtn:hover {
    background-color: #0056b3;
}

.saveBtn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #28a74600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.saveBtn:hover {
    background-color: #616161;
}

.error {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}

.translation {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #141414;
    color: white;
}

.savedTranslations {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.savedTranslations h3 {
    color: #fff;
    margin-bottom: 15px;
}

.translationItem {
    padding: 10px;
    border-bottom: 1px solid #333;
    color: #ccc;
}

.translationItem:last-child {
    border-bottom: none;
}

.translationItem p {
    margin: 5px 0;
}

.cameraSelect {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cameraSelect option {
    background-color: #333;
    color: #fff;
}
