.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(47, 47, 47);
}

.menuBar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.menuItem {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.menuItem:hover {
    background-color: #555;
}
