.menuBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menuItem {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}

.menuItem:hover {
    background-color: #555;
}
