/* Container for the Translator component */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #ffffff;
    min-height: 100vh;
}

/* Flashcard styling */
.flashcard {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 600px;
    margin: 100px auto;
}

/* Input field styling */
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

/* Button styling */
.submitBtn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #666;
}

/* Hint display */
.hint {
    margin-top: 10px;
    font-size: 16px;
    color: #ff0000;
}

/* Slovenian word display */
.slovenianWord {
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
}

/* Reversed English word display */
.englishWord {
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
}

.englishWord i {
    font-style: italic;
}

.savedTranslations {
    margin-top: 20px;
}

.translationItem {
    border-bottom: 1px solid #ccc; /* Light gray border for the divider */
    padding: 10px 0;
    margin-bottom: 10px;
}

.translationItem:last-child {
    border-bottom: none; /* Remove the border for the last item */
}
