/* Container for the Translator component */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #ffffff;
    min-height: 100vh;
}

/* Flashcard styling */
.flashcard {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}

/* Input field styling */
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box; /* Ensures padding doesn't exceed the container */
}

/* Button styling */
.submitBtn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Full width on mobile */
    max-width: 100%; /* Ensure full width is utilized */
}

.submitBtn:hover {
    background-color: #666;
}

/* Hint display */
.hint {
    margin-top: 10px;
    font-size: 16px;
    color: #ff0000;
    text-align: center; /* Center align hint text */
}

/* Slovenian word display */
.slovenianWord {
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
    text-align: center; /* Center align Slovenian word */
}

/* Reversed English word display */
.englishWord {
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
    text-align: center; /* Center align English word */
}

.englishWord i {
    font-style: italic;
}

.savedTranslations {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Translation item styling */
.translationItem {
    border-bottom: 1px solid #ccc; /* Light gray border for the divider */
    padding: 10px 0;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 16px;
}

.translationItem:last-child {
    border-bottom: none; /* Remove the border for the last item */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .flashcard {
        width: 90%; /* Smaller width on smaller screens */
        margin: 20px auto; /* Reduced margin for mobile */
    }

    .input {
        font-size: 14px; /* Smaller font on mobile */
    }

    .submitBtn {
        padding: 10px; /* Adjust padding for mobile */
        font-size: 14px; /* Smaller font on mobile */
    }

    .hint, 
    .slovenianWord, 
    .englishWord {
        font-size: 16px; /* Adjusted font size for better readability on mobile */
    }

    .savedTranslations {
        width: 90%; /* Slightly smaller on mobile */
        padding: 10px; /* Adjust padding for mobile */
    }

    .translationItem {
        font-size: 14px; /* Smaller font on mobile */
        padding: 8px 0; /* Adjust padding for mobile */
    }
}
